@using Sales.Library.Contracts

@inject IAccountService repo

<!-- Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header en">
                <h5 class="modal-title" id="logoutModalLabel">@Localizer[nameof(Translate.Logout)]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Localizer[nameof(Translate.LogoutMsg)]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    @Localizer[nameof(Translate.Cancel)]
                </button>
                <a class="btn btn-danger" @onclick="LogoutClicked">@Localizer[nameof(Translate.Ok)]</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
@code {
    private async Task LogoutClicked()
    {
        if (await repo.LogoutAsync())
        {
            NavManager?.NavigateTo("/", forceLoad: true);
        }
    }
}
