
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>404</h1>
        </div>
        <h2 class="text-secondary-emphasis">@Localizer[nameof(Translate.NotFoundTip)]</h2>
        <p>@Localizer[nameof(Translate.NotFoundTip1)]</p>
        <a href="/">@Localizer[nameof(Translate.NotFoundTip2)]</a>
    </div>
</div>
